@import 'tailwindcss';
@import 'tw-animate-css';

@theme inline {
  --font-inter: var(--font-inter);
  --font-jetbrains: var(--font-jetbrains-mono);
  --font-poppins: var(--font-poppins);
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply bg-[#f8f4ee] text-[#111111] antialiased;
    font-family: var(--font-inter), sans-serif;
	::selection {
		color: #f8f4ee;
		background-color: #111;
	}
  }
}

/* Base utility for vertical text */
@utility vertical-text {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}

/* Custom scrollbar to match editorial vibe */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
